h1{
  color: rgb(255, 166, 1);
  background-color: black;
}
li{
  display: inline;
  border: 2px solid black;
  background-color: rgb(153, 153, 153);
  padding: 0.5rem;
  margin: 0.1rem;
  box-shadow: dimgray 3px 3px 5px;
  cursor: col-resize;
}